#icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-top: 10%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.signup {
	color: blue;
}

.donthave {
	font-size: 85%;
}

.content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input::placeholder, input[type=text] {
	font-family: 'Montserrat', sans-serif;
  }

input[type=text], input[type=password] {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.remember {
	font-size: 80%;
}

.signin {
	  background-color: #446DFF;
	  font-family: 'Montserrat', sans-serif;
	  padding: 15px 120px;
	  margin-top: 1.5rem;
	  color: white;
	  border-radius: 10px;
	  outline: none;
	  margin-bottom: 1rem;
  }
.day {
	border-style: solid;
	border-radius: 10px;
	border-width: 1.5px; 
	display: flex;
	flex-direction: column;
	width: 11.4%;
	top: 25%;
	position: fixed;
	left: 0;
	margin-left: 15%;
}

.groupButton {
	background-color:#C4C4C4;
	width: 75px;
	height: 75px;
	top: 0px;
	left: 0px;
	position: fixed;
}
.flyoutMenu {
    /* width: 10vw;
    height: 100vh; */
    background-color: #C4C4C4;
    position: fixed;
	top: 0px;
	left: 0;
	text-align: center;
	width: 10%;
	height: 100%
	
    /* transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1); */
}
/* .flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
}    */

.freeSchedule {
	left: 0;
	text-align: center;
	margin-left: 10%;
	width: 90%;
	position: fixed;
}

.import {
	top: auto;
	margin-bottom: 0;
	left: 0;
	margin-left: 10%;
	width: 90%;
	position: fixed;
	bottom: 0px;
	text-align: center;
	font-size: 15px;
}

.threeIcons {
	margin-top: 5px;
	width:15%;
	margin-left: auto;
	margin-right: auto;
}

.calendar {
	margin-left: 10%;
	left: 0;
	width: 90%;
	position: fixed;
	margin-top: 75px;
	text-align: center;
	font-size: 15px;
}
.calendar2 {
	margin-left: 10%;
	left: 0;
	width: 45%;
	position: fixed;
	margin-top: 75px;
	text-align: center;
	font-size: 15px;
}

.calendar3 {
	margin-left: 32%;
	left: 350px;
	width: 45%;
	position: fixed;
	margin-top: 75px;
	text-align: center;
	font-size: 15px;
}

#navIcon {
	margin-top: 15px;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
}

#googleIcon {
	float: right;
	width: 60px;
	border-style: solid;
	border-radius: 10px;
	border-width: 1.5px;  
}
#outlookIcon {
	width: 60px;
	margin: 0;
	border-style: solid;
	border-radius: 10px;
	border-width: 1.5px;  
}

#appleIcon {
	float: left;
	width: 60px;
	border-style: solid;
	border-radius: 10px;
	border-width: 1.5px;
}

#dates {
	border-style: solid;
	/* border-radius: 10px; */
	border-width: 1.5px; 
	display: flex;
	flex-direction: column;
	width: 80%;
	position: fixed;
	margin-left: 0;
	top: 85px;
	left: 15%;
  }
  #dates2 {
	border-style: solid;
	/* border-radius: 10px; */
	border-width: 1.5px; 
	display: flex;
	flex-direction: column;
	width: 700px;
	position: fixed;
	margin-left: 0;
	top: 85px;
	left: 15%;
  }
  #dates3 {
	border-style: solid;
	/* border-radius: 10px; */
	border-width: 1.5px; 
	display: flex;
	flex-direction: column;
	width: 700px;
	position: fixed;
	margin-left: 0;
	top: 85px;
	left: 60%;
  }
  
  #dates p {
	width: 0%;
	text-align: center;
  }
  
  #dates > div {
	display: flex;
	justify-content: space-around;
  }

  #dates2 p {
	width: 0%;
	text-align: center;
  }
  
  #dates2 > div {
	display: flex;
	justify-content: space-around;
  }
  #dates3 p {
	width: 0%;
	text-align: center;
  }
  
  #dates3 > div {
	display: flex;
	justify-content: space-around;
  }

  #date {
	left: 0;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 10%;
	width: 90%;
	position: fixed;
  }

  #date2 {
	left: 0;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 15%;
	width: 700px;
	position: fixed;
  }
  #date3 {
	left: 0;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 15%;
	width: 700px;
	position: fixed;
  }

  .chart {
	  font-size: 15px;
	  margin-top: 25px;
  }
  
  .days {
	  margin-top: 0;
	  margin-bottom: 0;
	  margin-left: auto;
	  margin-right: auto;
  }
#yourSchedule {
	margin-top: 0;
}
#whenFree {
	margin-top: 0;
	margin-bottom: 5px;
}

#importCalendar {
	margin-top:0;
	margin-bottom: 7px;
}

.times {

	height: 37px;
}

#timeChart {
	margin-top: 47px;
	margin-left: 12px;
}

#timeChart2 {
	margin-top: 47px;
	margin-left:100px;
}